---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Home';
const description = 'A blog filled with data-driven insights';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>Hello, digital traveler</h1>
      <p>You just reached a place where we explore the harmony <br/>of code, data, and music.</p>
      <p><a href="/blog">Visit blog</a></p>
    </div>

    <div class="hero-image-container">
      <picture>
        <source srcset="/assets/home-illustration.png" media="(min-width: 600px)">
        <img class="hero-image" alt="Illustration of person reading a book" src="/assets/home-illustration.png" width="650" height="566">
      </picture>
    </div>
  </div>
</BaseLayout>

<style>
  .explore-button {
    background: #548E9B;
    padding: 15px 30px;
    margin-top: 32px;
    border-radius: 5px;
    text-decoration: inherit;
    color: white;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }

  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
