<div class="bio">
  <img src="/assets/jakub.jfif"  alt="Headshot of Jakub Radziejewski">
  <p>
    Hi, I'm <strong>Jakub</strong> - a software developer and data enthusiast. <br />When I'm not immersed in code or exploring data, you'll find me playing guitar, drumming or pondering life's big questions.
    <br />
    See some of my work on <a href="https://www.github.com/jradziejewski" target="_blank">GitHub</a>,
    or check out my profile on <a href="https://www.linkedin.com/in/jradziejewski" target="_blank">LinkedIn</a>.
  </p>
</div>

<style>
  .bio {
    p {
      font-size: 14px;
    }
  }
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 115px;
    height: 115px;
    border-radius: 20px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }

  mg5 {
    margin: 5px;
  }
</style>
