<div class="bio">
  <img src="/assets/jakub.jfif"  alt="Headshot of Jakub Radziejewski">
  <p>
    My name is <strong>Jakub</strong> - just a guy from Poland who likes software development and data science. Besides, I like creating music and dabble in a bit of philosophy.
    <br />
    See some of my work on <a href="https://www.github.com/jradziejewski" target="_blank">GitHub</a>,
    or check out my profile on <a href="https://www.linkedin.in/jradziejewski" target="_blank">LinkedIn</a>.
  </p>
</div>

<style>
  .bio {
    p {
      font-size: 14px;
    }
  }
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 115px;
    height: 115px;
    border-radius: 20px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
